<header>
  <div class="container">
    <div class="menu" id="header">
      <h1>optics</h1>
      <nav>
        <ul>
          <li>
            <a href="#home" class="active">home</a>
          </li>
          <li>
            <a href="#about">about</a>
          </li>
          <li>
            <a href="#our-services">services</a>
          </li>
          <li>
            <a href="#our-portfolio">portfolio</a>
          </li>
          <li>
            <a href="#our-team">team</a>
          </li>
          <li>
            <a href="#contact">contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="text-center intro-text" id="home">
      <h1>We are
        <span class="current">optics</span>
      </h1>
      <p>An award winning design and development company</p>
      <a href="">learn more</a>
    </div>
  </div>
</header>
<main>
  <section id="about" class="padding-div">
    <div class="container">
      <div class="text-title">
        <h1 class="text-underline">about us</h1>
      </div>
      <div class="boxes">
        <div class="box hidden">
          <h1 class="text-underline-30">who we are</h1>
          <p>loren psum dolor sit amet, consectetur adipiscing elit, DUis sed dapibus keo nec ormare diam.Sed commodo nibh ante
            facisis bidedum dolor.m.Sed commodo nibh ante facisis bidedum dolor</p>
        </div>
        <div class="box hidden">
          <h1 class="text-underline-30">what we do</h1>
          <p>loren psum dolor sit amet, consectetur adipiscing elit, DUis sed dapibus keo nec ormare diam.Sed commodo nibh ante
            facisis bidedum dolor.m.Sed commodo nibh ante facisis bidedum dolor</p>
        </div>
        <div class="box hidden">
          <h1 class="text-underline-30">why choose us</h1>
          <p>loren psum dolor sit amet, consectetur adipiscing elit, DUis sed dapibus keo nec ormare diam.Sed commodo nibh ante
            facisis bidedum dolor.m.Sed commodo nibh ante facisis bidedum dolor</p>
        </div>
      </div>
    </div>
  </section>
  <section id="our-services" class="padding-div">
    <div class="container">
      <div class="text-title">
        <h1 class="text-underline">our services</h1>
      </div>
      <div class="boxes">
        <div class="box hidden">
          <i class="fas fa-desktop"></i>
          <h1 class="text-underline-30">web design</h1>
          <p>loren psum dolor sit amet, consectetur adipiscing elit, DUis sed dapibus keo nec ormare diam.Sed commodo nibh ante
            facisi
          </p>
        </div>
        <div class="box hidden">
          <i class="fas fa-cogs"></i>
          <h1 class="text-underline-30">app development</h1>
          <p>loren psum dolor sit amet, consectetur adipiscing elit, DUis sed dapibus keo nec ormare diam.Sed commodo nibh ante
            facisi
          </p>
        </div>
        <div class="box hidden">
          <i class="fas fa-chart-pie"></i>
          <h1 class="text-underline-30">analytics</h1>
          <p>loren psum dolor sit amet, consectetur adipiscing elit, DUis sed dapibus keo nec ormare diam.Sed commodo nibh ante
            facisi
          </p>
        </div>
        <div class="box hidden">
          <i class="fas fa-chart-line"></i>
          <h1 class="text-underline-30">marketing</h1>
          <p>loren psum dolor sit amet, consectetur adipiscing elit, DUis sed dapibus keo nec ormare diam.Sed commodo nibh ante
            facisi
          </p>
        </div>
        <div class="box hidden">
          <i class="fas fa-cart-plus"></i>
          <h1 class="text-underline-30">ecommonerce</h1>
          <p>loren psum dolor sit amet, consectetur adipiscing elit, DUis sed dapibus keo nec ormare diam.Sed commodo nibh ante
            facisi
          </p>
        </div>
        <div class="box hidden">
          <i class="fas fa-notes-medical"></i>
          <h1 class="text-underline-30">Content Development</h1>
          <p>loren psum dolor sit amet, consectetur adipiscing elit, DUis sed dapibus keo nec ormare diam.Sed commodo nibh ante
            facisi
          </p>
        </div>
        <div class="box hidden">
          <i class="fas fa-plane"></i>
          <h1 class="text-underline-30">Branding</h1>
          <p>loren psum dolor sit amet, consectetur adipiscing elit, DUis sed dapibus keo nec ormare diam.Sed commodo nibh ante
            facisi
          </p>
        </div>
        <div class="box hidden">
          <i class="fas fa-camera"></i>
          <h1 class="text-underline-30">video & photography</h1>
          <p>loren psum dolor sit amet, consectetur adipiscing elit, DUis sed dapibus keo nec ormare diam.Sed commodo nibh ante
            facisi
          </p>
        </div>
      </div>

    </div>
  </section>
  <section id="our-portfolio" class="padding-div">
    <div class="container">
      <div class="text-title">
        <h1 class="text-underline">our portfolio</h1>
      </div>
      <div class="menu-portfolio" id="myButtons">
        <button class="btn active-btn" (click)="filter('all')">all</button>
        <button class="btn" (click)="filter('web')">web design</button>
        <button class="btn" (click)="filter('app')">app development</button>
        <button class="btn" (click)="filter('branding')">branding</button>
      </div>
      <div class="boxes">
        <div class="box-filter web">
          <img src="assets/images/portfolio/01.jpg" alt="Portfolio">
          <div class="overlay">
            <div class="content">
              <h1>
                Title Number One
              </h1>
              <p>
                loren psum dolor sit amet, consectetur adipiscing elit,
              </p>
            </div>
          </div>
        </div>
        <div class="box-filter web">
          <img src="assets/images/portfolio/02.jpg" alt="Portfolio">
          <div class="overlay">
            <div class="content">
              <h1>
                Title Number One
              </h1>
              <p>
                loren psum dolor sit amet, consectetur adipiscing elit,
              </p>
            </div>
          </div>
        </div>
        <div class="box-filter app">
          <img src="assets/images/portfolio/03.jpg" alt="Portfolio">
          <div class="overlay">
            <div class="content">
              <h1>
                Title Number One
              </h1>
              <p>
                loren psum dolor sit amet, consectetur adipiscing elit,
              </p>
            </div>
          </div>
        </div>
        <div class="box-filter branding">
          <img src="assets/images/portfolio/04.jpg" alt="Portfolio">
          <div class="overlay">
            <div class="content">
              <h1>
                Title Number One
              </h1>
              <p>
                loren psum dolor sit amet, consectetur adipiscing elit,
              </p>
            </div>
          </div>
        </div>
        <div class="box-filter branding">
          <img src="assets/images/portfolio/05.jpg" alt="Portfolio">
          <div class="overlay">
            <div class="content">
              <h1>
                Title Number One
              </h1>
              <p>
                loren psum dolor sit amet, consectetur adipiscing elit,
              </p>
            </div>
          </div>
        </div>
        <div class="box-filter app">
          <img src="assets/images/portfolio/06.jpg" alt="Portfolio">
          <div class="overlay">
            <div class="content">
              <h1>
                Title Number One
              </h1>
              <p>
                loren psum dolor sit amet, consectetur adipiscing elit,
              </p>
            </div>
          </div>
        </div>
        <div class="box-filter web">
          <img src="assets/images/portfolio/07.jpg" alt="Portfolio">
          <div class="overlay">
            <div class="content">
              <h1>
                Title Number One
              </h1>
              <p>
                loren psum dolor sit amet, consectetur adipiscing elit,
              </p>
            </div>
          </div>
        </div>
        <div class="box-filter app">
          <img src="assets/images/portfolio/08.jpg" alt="Portfolio">
          <div class="overlay">
            <div class="content">
              <h1>
                Title Number One
              </h1>
              <p>
                loren psum dolor sit amet, consectetur adipiscing elit,
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="our-team" class="padding-div">
    <div class="container">
      <div class="text-title text-underline">
        <h1>meet the team</h1>
      </div>
      <div class="boxes">
        <div class="box">
          <img src="assets/images/team/01.jpg" alt="Team Number One">
          <div class="overlay">
            <div class="description text-derline">
              <h1>john doe</h1>
              <h2>founder</h2>
            </div>
          </div>
        </div>
        <div class="box">
          <img src="assets/images/team/02.jpg" alt="Team Number One">
          <div class="overlay">
            <div class="description text-derline">
              <h1>john doe</h1>
              <h2>founder</h2>
            </div>
          </div>
        </div>
        <div class="box">
          <img src="assets/images/team/03.jpg" alt="Team Number One">
          <div class="overlay">
            <div class="description text-derline">
              <h1>john doe</h1>
              <h2>founder</h2>
            </div>
          </div>
        </div>
        <div class="box">
          <img src="assets/images/team/04.jpg" alt="Team Number One">
          <div class="overlay">
            <div class="description text-derline">
              <h1>john doe</h1>
              <h2>founder</h2>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section id="contact" class="padding-div">
    <div class="container">
      <div class="text-title">
        <h1 class="text-underline">contact us</h1>
      </div>
      <div class="content hidden">
        <div class="info">
          <div class="address">
            <p>
              <i class="fas fa-map-marker"></i>
              &nbsp;&nbsp;&nbsp; 4321 California St,San Francisco, CA 12345
            </p>
          </div>
          <div class="address">
            <p>
              <i class="fas fa-envelope"></i>
              &nbsp;&nbsp;&nbsp; vanphudhs2015@gmail.com
            </p>
          </div>
          <div class="address">
            <p>
              <i class="fas fa-phone"></i>
              &nbsp;&nbsp;&nbsp; +84961688293
            </p>
          </div>
        </div>
        <form action="">
          <h1>leave us a message</h1>
          <input type="text" placeholder="name">
          <input type="text" placeholder="email">
          <input type="text" placeholder="message">
          <input type="submit" value="send message">
        </form>
      </div>
      <div class="icon">
        <ul>
          <li>
            <i class="fab fa-facebook"></i>
          </li>
          <li>
            <i class="fab fa-twitter"></i>
          </li>
          <li>
            <i class="fas fa-volleyball-ball"></i>
          </li>
          <li>
            <i class="fab fa-github"></i>
          </li>
          <li>
            <i class="fab fa-instagram"></i>
          </li>
          <li>
            <i class="fab fa-linkedin-in"></i>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
<footer>
  <div class="container">
    <p>copyright &copy; Optics. Designed by TeamplateWire</p>
  </div>
</footer>